
<p>
  <a routerLink="new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input type="text" placeholder="Search..." class="form-control" (keyup)="filter(query.value)" #query>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{ p.title }}</td>
      <td>{{ p.price | currency:"USD":"symbol" }}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
